on:
  workflow_call:  
    inputs:
      tags:
        required: true
        type: string
    secrets:
      token:
        required: true
jobs:
    convert-tags:
        name: Convert Included Tags to Matrix Format
        runs-on: ubuntu-latest
        outputs:
          matrix-tags: ${{ steps.convert.outputs.matrix-tags }}
        steps:
          - name: Convert Tags
            id: convert
            shell: bash
            run: |
              tags="${{ inputs.tags }}"
              matrix=$(echo "$tags" | jq -cR 'split(",")')
              echo "matrix-tags=$matrix" >> $GITHUB_OUTPUT

    appinspect:
      runs-on: ubuntu-latest
      needs: convert-tags
      strategy:
        fail-fast: false
        matrix:
          tags: ${{ fromJson(needs.convert-tags.outputs.matrix-tags) }}
      steps:
        - uses: actions/checkout@v4
        - uses: actions/download-artifact@v4
          with:
            name: dist
            path: dist/
        - name: scan
          uses: splunk/appinspect-cli-action@v2.10.0
          with:
            app_path: dist/
            included_tags: ${{ matrix.tags }}
            result_file: appinspect_result_${{ matrix.tags }}.json

        - name: Run Generate Markdown Action
          id: generate-markdown
          if: always()
          uses: livehybrid/generate-appinspect-markdown-action@main
          with:
            json_file: "appinspect_result_${{ matrix.tags }}.json"
            tag: "${{ matrix.tags }}"
            github_token: ${{ secrets.token }}
            include_not_applicable: False