on:
  workflow_call:
    secrets:
      splunkbase_username:
        required: true
      splunkbase_password:
        required: true

jobs:
  quality-appinspect-api:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/download-artifact@v5
        with:
          name: dist
          path: dist/
      - name: Run AppInspect API
        uses: splunk/appinspect-api-action@v3.0
        with:
          username: "${{ secrets.splunkbase_username }}"
          password: "${{ secrets.splunkbase_password }}"
          app_path: dist
          included_tags: private_victoria
          excluded_tags: offensive

      - name: Upload Reports
        uses: actions/upload-artifact@v4
        with:
          name: AppInspect_response.html
          path: AppInspect_response.html
